             /* ************************ */
            /*Theme Message CSS         */
            /* ************************ */ 
            
            /* Checkout Table */
            table.vtwpr_shop_table th.product-name {
              min-width: 190px;
            }
            table.vtwpr_shop_table th.product-quantity {
              min-width: 80px;
              text-align:center;
            }            
            table.vtwpr_shop_table th.product-subtotal {
              min-width: 120px;
            }
            table.vtwpr_shop_table td.product-quantity {
              text-align:center;
            }  
          .vtwpr-product-name-widget,
          .vtwpr-product-name-span {
             color: #1982D1;
          }
          .vtwpr-discount-msg-widget {
             color: #555555;
          }
          .vtwpr-rule_msg {
            color: gray;
          }
          
            
            /*at checkout, block the 'remove' URL from appearing next to a wholesale pricing Deal!!*/
            tr.coupon-deals a {display:none;}
                    
  /*  color: #85AD74;   */ 